@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>
        <form method="post" asp-page-handler="Sample">
            <input type="submit" value="Run Sample" />
        </form>
    </p>

    <p>
        @Model.Message
    </p>
</div>
